### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#unprocessed data
dataset/raw
#processed data
dataset/processed
#wandb log
wandb/
#pycache
dataset/__pycache__
model/__pycache__
callbacks/__pycache__
#checkpoints
checkpoints/
#nohup log
nohup.out
